html,
body {
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 246, 197);

}

/* ---Hero images---- */
.bg-img {
    background-image: url("../images/madeirahome.jpg");
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img2 {
    background-image: url("../images/madeirainfo.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img3 {
    background-image: url("../images/madeirafun.jpg");
    height: 350px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;

}

/* ----NAVIGATION BUTTONS---- */

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: lugrasimo;
    text-shadow: -1px 0 black;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* --------HTML page images and text styling---------- */
.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}

#introduction {
    text-align: center;
    font-size: 350%;
    font-family: lugrasimo;
    color: rgb(158, 181, 164);
    margin-bottom: 7%;
}


.image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;

}

.image-row2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;

}

.image-container {
    flex: 0 0 33.33%;
    margin-right: 20px;

}

.image {
    width: 100%;
    height: 380px;

}

.text-container {
    flex: 1;
    max-width: 30%;
    font-size: 25px;
    text-align: justify;
    font-family: 'Edu SA Beginner', cursive;
    margin-right: 65px;
}

/* -------------------FOOTER HERE------------------ */
footer {
    width: 100%;
    background-color: rgb(124, 221, 124);
    left: 0;
    bottom: 0;

}


.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #000000;
}

.social-networks i:hover {
    color: #FF0000;
}

/* ----THINGS TO DO PAGE CONTENT HERE */
.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
}

.activities-text {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

.activities-text h1 {
    font-family: lugrasimo;
}

.activities-text p {

    margin-top: 80px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 120%;
}

.activities-image {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

.activities-map {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

.activities-map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.activities-image img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}



/* ---TRAVEL INFO CONTENT PAGE---- */

.info-container {
    display: flex;
    flex-wrap: wrap;

}

.info {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 50%;
    border: 1px solid rgb(2, 59, 9);
    padding: 20px;
}

.info h1 {
    font-family: lugrasimo;
}

.info p {
    font-family: 'Edu SA Beginner', cursive;
    line-height: 35px;
    font-size: 120%;

}

/* -------FORM HERE-------- */

.signup-form {

    color: #ffffff;
    text-align: center;
    padding: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/madeiraform1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: lugrasimo;

}

.signup-form h2 {
    color: #ffffff;
    margin-bottom: 60px;
    font-family: lugrasimo;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-input {

    color: #000000;
    width: 25%;
    height: 25px;
    margin-top: 20px;
    border: 1px solid #043b20;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #144404;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ffffff;
    color: #000000;
    display: block;

}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* -----MEDIA QUERIES FOR BETTER VIEWING IN TABLET AND MOBILE */

@media screen and (max-width: 1396px) {
    .content {
        width: 80%;
    }

    .text-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .image-row {
        flex-direction: column;
    }

    .image-row2 {
        flex-direction: column;

    }

    .image-row2 .text-container {
        order: 2;
    }

    .image-row2 .image-container {
        order: 1;
    }


    .activities {
        flex-direction: column;
    }
}

@media screen and (max-width: 943px) {

    .bg-img {
        height: 200px;
    }

    .topnav a {
        font-size: 70%;
    }

    #introduction {
        font-size: 140%;
    }

    .content {
        width: 60%;
    }

    .text-container {
        max-width: 100%;
        margin-top: 20px;
        font-size: 100%;
    }

    .image-row {
        flex-direction: column;
    }


    .image {
        width: 100%;
        height: 200px;
    }

    .activities {
        flex-direction: column;
    }

}

@media screen and (max-width: 700px) {

    .topnav a {
        font-size: 55%;
    }

    .text-container {
        width: 100%;
    }

    .content {
        width: 70%;
    }

    .activities {
        flex-direction: column;
    }

    .activities-text {
        font-size: 70%;
    }

    .activities-text p {

        margin-top: 20px;
    }

    .activities-map iframe {
        height: 140px;
        width: 80%;

    }

    .bg-img2 {
        height: 200px;

    }

    .info-container {
        flex-direction: column;
        align-items: center;
        font-size: 70%;
    }

    .text-input {
        width: 70%;
    }

    .signup-form h2 {
        font-size: 85%;
    }
}