html,
body {
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 246, 197);

}

#content-wrapper {
    min-height: calc(100vh - 200px);
}

.bg-img {
    background-image: url("../images/madeira1.jpg");
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;





}

.bg-img2 {
    background-image: url("../images/sunset.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;

}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: lugrasimo;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;


}



#introduction {
    text-align: center;
    font-size: 350%;
    font-family: lugrasimo;
    color: rgb(158, 181, 164);

    margin-bottom: 7%;



}

/* --------HTML page images and text styling---------- */

.image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

}

.image-container {
    flex: 0 0 33.33%;
    margin-right: 20px;
}

.image {
    width: 100%;
    height: 380px;

}

.text-container {
    flex: 1;
    max-width: 30%;
    font-size: 25px;
    text-align: justify;
    font-family: 'Edu SA Beginner', cursive;

}

/* -------------------FOOTER HERE------------------ */
footer {

    width: 100%;
    background-color: rgb(124, 221, 124);
    margin-top: 20px;

    left: 0;
    bottom: 0;



}


.social-networks {
    text-align: center;



}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

/* ---TRAVEL INFO CONTENT PAGE---- */

.info-container {
    display: flex;
    flex-wrap: wrap;

}

.info {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 50%;
    border: 1px solid rgb(2, 59, 9);
    padding: 20px;
}





/* -------FORM HERE-------- */

.signup-form {

    color: rgb(6, 58, 31);
    background-color: rgba(230, 244, 231, 0.6);
    width: 100%;
    text-align: center;
    padding: 30px;
    bottom: 0;



}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {

    color: #fafafa;
    width: 25%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #043b20;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #144404;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}